<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fade.demo.mybatis.nat5.mapper.RunoobMapper">

    <insert id="insert">
        insert into runoob_tbl(runoob_title, runoob_author, submission_date)
        values (#{runoobTitle}, #{runoobAuthor}, #{submissionDate})
    </insert>

    <update id="update">
        update runoob_tbl
        set runoob_title = #{runoobTitle},
            runoob_author = #{runoobAuthor},
            submission_date = #{submissionDate}
        where runoob_id = #{runoobId};
    </update>

    <delete id="delete">
        delete
        from runoob_tbl
        where runoob_id = #{id};
    </delete>

    <resultMap id="runoobResultMap" type="org.fade.demo.mybatis.nat5.entity.Runoob">
        <id column="runoob_id" property="runoobId" jdbcType="INTEGER" />
        <result column="runoob_title" property="runoobTitle" jdbcType="VARCHAR" />
        <result column="runoob_author" property="runoobAuthor" jdbcType="VARCHAR" />
        <result column="submission_date" property="submissionDate" jdbcType="DATE" />
    </resultMap>

    <select id="findById" resultMap="runoobResultMap">
        select runoob_id, runoob_title, runoob_author, submission_date
        from runoob_tbl
        where runoob_id = #{id}
    </select>

</mapper>